
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contact-me, #my-work, #about-me {
    
    flex: 50%;
    display: flex;
    
}
#my-work a {
    
    display: block;
    height: 500px;
    width: 500px;
    background-position: right;
    background-size: cover;
    text-align: center;
    display: block;
    font-size: 32px;
    text-decoration: none;
    padding: 40%;
    color: #273859;
    border-radius: 15%;
    border: #273859 solid 5px;
   
    
}

#linkedin {
    color: #273859;
}
#linkedin:hover{
    background-color: #273859;
    color: white;
    border-radius: 5px;

}
.content img {
    max-width: 250px;
    border-radius: 50%;
    border: #273859 5px solid;
    margin: 30px;
    
}

body {
    background-color: #F2E2C4;
    color: #273859;
    
}

header {
    justify-content: space-between;
    background-color: #F2AD94;
    background-size: cover;
    padding: 20px 35px;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #273859;
  margin: 0;
  display: inline;

}
header a {
    text-decoration: none;
    color: #273859;
    float: left;
    
    
}

header nav {
    float: right;
    margin: 7px 0; 
   
}    

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    inline-size: auto;
}

header nav ul li {
    display: inline;
    
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    font-weight: bold;
    
  }
header nav ul li a:hover{
  background: #273859;
  color: white;
  border-radius: 5px;
  text-shadow: none;

}

footer {
    background-color: #F2AD94;
    padding: 5%;
    text-align: center;
    border: #273859 solid 5px;

}


.section h2 {
    
    text-align: center;  
    font-size: 48px;
    justify-content: space-between;
    padding: 30px 50px;
    border-right: #273859 solid 5px;
  }


.jumbotron {
    background-image: url("../images/pexels-simon-berger-1323550.jpg");
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 90%;
    padding: 100px;
    border: #273859 solid 5px;
    
}
.subtitle {
    padding-left: 800px;
    font-size: 36px;
    text-align: center;
}
.section div {
    padding: 10%;
    
}
.content {
    text-align: center;
    justify-content: center;
    display: inline;
    font-size: larger;
    justify-content: space-around;
    margin: 5px;
    
}
.section {
    background-color: #F2A679;
    border: #273859 solid 5px;
    margin: 5%;
}

.run-buddy {
    background-image: url(../images/hero-bg.jpeg);
    font-size: 32px;
    text-decoration: none;
    padding: 40%;
    color: #273859;
    border-radius: 15%;
    border: #273859 solid 5px;


}
.run-buddy:hover {
    text-decoration: underline;
    color: skyblue;
    border: skyblue solid 5px;
}

.covid-track {
    background-color: lightgray;
}
    
